<template>
<ul class= "list-group col-md-4">
    <VideoListItem 
    v-for = "video in MyVideoList" :key= "video"
    v-bind:video = "video"
    v-on:videoSelect= "onVideoSelect" 
    >

    </Videolistitem>
   
    </ul>
</template>
<script>
import VideoListItem from './VideoListItem.vue';

export default {
    name: 'VideoList',
    components : {
        VideoListItem
    },
    props: ['MyVideoList'],
    methods : {
        onVideoSelect(video) {
            this.$emit('videoSelect' , video)
        }
    }

};
</script>
<style>
</style>
