<template>
  <div class=container>
  <SearchBar @termChange= "onTermChange"> </SearchBar>
  <div class = "row">
  <VideoDetail v-bind:video = "selectedVideo"> </VideoDetail>
  <VideoList v-bind:MyVideoList = "videos" v-on:videoSelect = "onVideoSelect"></VideoList>
  </div>

  
  
  <!-- both are same <VideoList :videos = "videos"></VideoList> -->

  </div>
</template>

<script>
import axios from 'axios';
import SearchBar from './components/SearchBar.vue';
import VideoList from './components/VideoList.vue';
import VideoDetail from './components/VideoDetail.vue';


const API_KEY = 'AIzaSyCj5zLrTSEHxeoH88QRicEGI70lOsebzhU';
export default {
  name: 'App',
  components: {
    SearchBar,
    VideoList,
    VideoDetail
  },
  data() {
    return {videos : [], selectedVideo: null};
  },
  methods: {
    onVideoSelect(video) {
      this.selectedVideo = video;
    },
    onTermChange(searchTerm) {
    axios.get('https://www.googleapis.com/youtube/v3/search' , {
      params:{
        key: API_KEY,
        type: 'video',
        part: 'snippet',
        q:searchTerm
      }
    }).then(response => {
      this.videos = response.data.items;
    });
      
    }
  }
};

</script>

<style>


</style>
